/*General CSS*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

    position: relative;
}

/*Main Container CSS*/
.main_container {
    height: 95%;
    width: 95%;

    /*Horizontal Align*/
    margin: auto;

    /*Vertical Align*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}