<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Page</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="main_container">

        <div class="title_wrapper">
            <div class="title">
                <h1>Chat Page</h1>
            </div>
        </div>
        <hr>

        <div class="msg_wrapper" id="msg_wrapper">
            <div class="msg" id="msgs">
            </div>
        </div>


        <div class="send_wrapper">
            <div id="msg_form">
                <input type="text" name="msg" id="msg" placeholder="Enter Your Message">
                <a href="#" class="search_btn" id="search_btn">
                    <i class="fa fa-arrow-circle-right"></i>
                </a>

            </div>

        </div>

    </div>

<!--    SocketIO Javascript-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="application/javascript">
        const socket = io('http://192.168.0.160:5000/');

        socket.on('stc_msg', (data) => {
            const newNode = document.createElement('div')
            newNode.setAttribute('class', 'row')
            newNode.innerHTML =
                `
                    <br class="clear"/>
                    <div class="my_msg">
                        <p>${data.data}</p>
                        <p>5:27 pm</p>
                        <br>
                    </div>
                `

            document.getElementById('msgs').appendChild(newNode)
        })
    </script>
    <script>
        document.getElementById('search_btn').addEventListener("click", function (e) {
            e.preventDefault();
            console.log('click')

            let msg_input = document.getElementById('msg')
            let data = msg_input.value

            console.log(data)

            socket.emit('cts_msg', {msg: data})
            msg_input.value = ''
        })
    </script>
</body>
</html>